openapi: 3.2.0
info:
  title: Layerzero Openapi API
  version: 1.0.0
  description: 'Operations tagged openapi across 2 of this provider''s published API definitions: oft-mainnet.json, scan-mainnet.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://metadata.layerzero-api.com/v1/metadata/experiment/ofts
- url: https://scan.layerzero-api.com/v1
tags:
- name: Open API
paths:
  /openapi:
    get:
      description: OpenAPI specs.
      tags:
      - Open API
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  openapi:
                    type: string
                    example: 3.0.3
                    description: OpenAPI version
                  info:
                    type: object
                    properties:
                      title:
                        type: string
                        example: Scan API
                        description: API title
                      version:
                        type: string
                        example: 1.0.0
                        description: API version
                    required:
                    - title
                    - version
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: https://metadata.layerzero-api.com/v1/metadata/experiment/ofts
                          description: Server URL
                      required:
                      - url
                  paths:
                    type: object
                    additionalProperties:
                      type: object
                required:
                - openapi
                - info
      summary: Get openapi
      x-summary-source: derived
      operationId: getOpenapi
      x-operation-id-source: derived
    servers:
    - url: https://metadata.layerzero-api.com/v1/metadata/experiment/ofts
x-refined-from:
- oft-mainnet.json
- scan-mainnet.json
